// Color
$white: #ffffff;
$grey: #626262;
$navy: #95badf;

$color-background: $white;

//Heading Color
$heading-color: $grey;
$heading-size: 2em, 1.5em, 1.17em, 1em, 0.83em, 0.75em;
$heading-margin: 0.67em 0, 0.75em 0, 0.83em 0, 1.2em 0, 1.5em 0, 1.67em 0;

$lato-regular: "lato-regular", Helvetica, Arial, sans-serif;
$lato-bold: "lato-bold", Helvetica, Arial, sans-serif;
$p22-corinthia: "p22_corinthia", Helvetica, Arial, sans-serif;
//Header && Hero
$top-color: $white;

//Footer
$footer-color: $white;
$footer-background: $navy;


$width-small: 480px;
$width-medium: 768px;
$width-large: 1100px;
